@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('../fonts/lato-300.woff2') format('woff2'), /* Super Modern Browsers */
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/lato-400.woff2') format('woff2'), /* Super Modern Browsers */
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/lato-700.woff2') format('woff2'), /* Super Modern Browsers */
}
